[submodule "saas-landing"]
	path = saas-landing
	url = https://github.com/EnovaBusinessSolutions/landingpagesaas-html.git
[submodule "dashboard-src"]
	path = dashboard-src
	url = https://github.com/EnovaBusinessSolutions/adnova-ai-dashboard-full.git
[submodule "support-src"]
	path = support-src
	url = https://github.com/EnovaBusinessSolutions/adnova-ai-support
[submodule "plan-src"]
	path = plan-src
	url = https://github.com/EnovaBusinessSolutions/adnova-plan-zen-1.git
[submodule "panel-src"]
	path = panel-src
	url = https://github.com/EnovaBusinessSolutions/adnova-46882.git
	branch = main
